.footer {
  text-align: start;
  margin: auto;
  max-width: 882px;
  padding: 30px 0;
}

.footer__texto {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 0;
}
@media (max-width: 889px) {
  .footer {
    width: 585px;
    margin: 30px auto;
    padding: 0;
  }
  .footer__texto {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
}
@media (max-width: 720px) {
  .footer {
    width: 282px;
    margin: 30px auto;
    padding: 0;
  }
  .footer__texto {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
}
@media (max-width: 544px) {
  .footer {
    width: 282px;
    margin: 30px auto;
    padding: 0;
  }
  .footer__texto {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
}
